[Desktop Entry]
Name=Conky Manager
MimeType=
Exec=conky-manager 
Type=Application
GenericName=Conky Theme Manager
Terminal=false
Icon=conky-manager
Caption=Conky Theme Manager
X-KDE-StartupNotify=false
Categories=Utility
InitialPreference=9
Name[en_US]=Conky Manager
X-GNOME-Autostart-enabled=false
NoDisplay=false
Hidden=false
Name[ja_JP]=Conky Manager
Comment[ja_JP]=No description
X-GNOME-Autostart-Delay=0
