# 'ファイル形式';
# 'スニペット名':
# 'prefix'; 'スニペットを呼び出すために入力する文字列'
# 'body': '展開する内容'
#--------------------------------------------------
#C++
'.source.cpp':
  'include <>':
    'prefix':'inc'
    'body':'#include <$1>'

  'int main':
    'prefix':'main'
    'body':'int main()\n{\n\t$1\n}'

  'if':
    'prefix':'if'
    'body':'if ($1)\n{\n\t\n}'

  'else if':
    'prefix':'else'
    'body':'else if ($1)\n{\n\t\n}'

  'for':
    'prefix':'for'
    'body':'for (int ${1:i} = 0; ${1:i} < ${2:count}; ${1:i}++)\n{\n\t${3:/* code */}\n}'

  'while':
    'prefix':'while'
    'body':'while ($1)\n{\n\t\n}'

  'do while':
    'prefix':'do'
    'body':'do\n{\n\t$1\n} while();'

  'Namespace':
    'prefix': 'ns'

  'cout':
    'prefix': 'cout'
    'body': 'cout << ${1:/* message */} << endl;'

  'cin':
    'prefix': 'cin'
    'body': 'cin >> ${1:/* variable */};'

  'vector':
    'prefix':'vector'
    'body':'vector<${1:int}> ${2:v};'
