chromium/Default/Pepper Data/Shockwave Flash/CacheWritableAdobeRoot/AssetCache/*
google-chrome/Default/Pepper Data/Shockwave Flash/CacheWritableAdobeRoot/AssetCache/*
Atom/Cache/*
Slack/Cache/*
chromium/Default/Service Worker/CacheStorage/*
google-chrome/Default/Service Worker/CacheStorage/*
chromium/Default/Pepper Data/Shockwave Flash/CacheWritableAdobeRoot/*
google-chrome/Default/Pepper Data/Shockwave Flash/CacheWritableAdobeRoot/*
Slack/GPUCache/*
chromium/Default/GPUCache/*
chromium/ShaderCache/GPUCache/*
google-chrome/Default/GPUCache/*
google-chrome/Default/Storage/ext/gfdkimpbcpahaombhbimeihdjnejgicl/def/GPUCache/*
google-chrome/Default/Storage/ext/nmmhkkegccagdldgiimedpiccmgmieda/def/GPUCache/*
google-chrome/ShaderCache/GPUCache/*
chromium/Default/Service Worker/ScriptCache/*
google-chrome/Default/Service Worker/ScriptCache/*
chromium/ShaderCache/*
google-chrome/ShaderCache/*
libreoffice/4/user/uno_packages/cache/*
nvim/tmp/
